<header>

    <nav>
        <a href="/">RiceMarketingShop</a>
        
        <ul>
            <!--/customers is in server.js(app.use('/customers', customerRouter))-->
            
            <li><a href="/products/new">Add Products</a></li>
            <li><a href="/customers/new">Add Customers</a></li>
            <li><a href="/customers"> Customers</a></li>


        </ul>
    </nav>
    
    </header>
    
            <!--    

     <li><a href="/users/login">Login</a>  </li>
            <li><a href="/users/register">Register</a>  </li>
            -->
       