<header>

    <nav class="header-nav">
       
        
        <ul>
            <!--/customers is in server.js(app.use('/customers', customerRouter))-->
            
     
            <li class="header-link"><a href="/customers/new">Add Customers</a></li>
            <li class="header-link"><a href="/customers"> Customers</a></li>
             
            <li class="header-link"><a href="/products/new">Add Products</a></li>
            <li class="header-link"><a href="/products"> Products</a></li>     
        
        </ul> 
    </nav>
    
    </header>
    
            <!--    

     <li><a href="/users/login">Login</a>  </li>
            <li><a href="/users/register">Register</a>  </li>
            -->
       