<header>

    <nav>
        <a href="/dashboard">RiceMarketingShop</a>
        
        <ul>
            <!--/customers is in server.js(app.use('/customers', customerRouter))-->
            <li><a href="customers">Customers</a></li>
            <li><a href="index/sign">Login</a></li>
           
            <li><a href="/products">Products</a></li>
          
           
           
        </ul>
    </nav>
    
    </header>