
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   
    <link rel="stylesheet" href="stylesheets/main.css">
</head>
<body>



<h2 class="page-header">New Author</h2>

<% if (locals.errorMessage != null) { %>
    <%= errorMessage %>
  <% } %>

<form action="/customers" method="POST">

    <label>Farmer Name</label>
    <input type="text" name="name" value="<%= customer.name %>">

  <a href="/customers">Cancel</a>
  <button type="submit">Create</button>
</form>







</body>
</html>